<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobTrack - Registro Empresas</title>
    <link rel="stylesheet" href="../../recursos/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../recursos/sweetalert/sweetalert2.min.css">
</head>

<body>

    <header class="py-3" style="background-color: #112852;">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="text-white"><i class="fas fa-briefcase"></i> JobTrack</h1>
            <nav>
                <ul class="list-unstyled d-flex m-0" style="gap: 20px;">
                    <li><a href="../../index.html" class="text-white text-decoration-none"><i class="fas fa-home"></i>
                            Inicio</a></li>
                    <li><a href="../views/acerca_de.html" class="text-white text-decoration-none"><i
                                class="fas fa-info-circle"></i> Acerca
                            de</a></li>
                    <li><a href="../views/contactos.html" class="text-white text-decoration-none"><i
                                class="fas fa-envelope"></i> Contacto</a>
                    </li>
                    <li><a href="../views/login.html" class="btn" style="background-color: #F0C11A; color: #000;"><i
                                class="fas fa-sign-in-alt"></i> Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <br><br>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card p-4" style="width: 700px; background-color: #FFFFFF; border: none;">
            <h2 class="text-center text-dark mb-3">Regístrate</h2>
            <div class="text-center mb-3">
                <img src="../../media/img/logo.png" alt="JobTrack Logo" style="width: 150px;">
            </div>
            <div class="text-center mb-3">
                <p>¿Ya estás registrado? <a href="login.html" class="text-warning">Accede</a></p>
            </div>
            <form id="registroEmpresaForm">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre" class="form-label"><i class="fas fa-building"></i> Nombre Empresa <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre de la empresa"
                            required>
                        <div class="invalid-feedback">
                            Por favor, ingresa el nombre de la empresa.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="telefono" class="form-label"><i class="fa-solid fa-phone-volume"></i> Teléfono <span
                                class="text-danger">*</span></label>
                        <input type="tel" class="form-control" id="telefono" placeholder="Ingresa el número de teléfono"
                            required>
                        <div class="invalid-feedback">
                            Por favor, ingresa el número de teléfono.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email" class="form-label"><i class="fas fa-envelope"></i> Correo Electrónico <span
                                class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresa el correo electrónico"
                            required>
                        <div class="invalid-feedback">
                            Por favor, ingresa un correo electrónico válido.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="categoria" class="form-label"><i class="fa-solid fa-bars"></i> Categoría <span
                                class="text-danger">*</span></label>
                        <select class="form-control" id="categoria" required>
                            <option value="">Seleccionar</option>
                            <option value="salud">Salud 🏥</option>
                            <option value="contruccion">Construcción 🏗️</option>
                            <option value="educacion">Educación 📚</option>
                            <option value="tecnologia y software">Tecnología y Software 💻</option>
                            <option value="industria y manufactura">Industria y Manufactura 🏭</option>
                            <option value="comercio y retail">Comercio y Retail 🛍️</option>
                            <option value="finanzas y seguro">Finanzas y Seguros 💰</option>
                            <option value="turismo y entretenimiento">Turismo y Entretenimiento ✈️</option>
                            <option value="tranporte y logistica">Transporte y Logística 🚚</option>
                            <option value="energia y medio ambiente">Energía y Medio Ambiente 🌱</option>
                            <option value="otro">Otro</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecciona una categoría.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="pais" class="form-label"><i class="fa-solid fa-flag"></i> País <span
                                class="text-danger">*</span></label>
                        <select class="form-control" id="pais" required>
                            <option value="">Seleccionar</option>
                            <option value="el salvador">El Salvador</option>
                            <option value="otro">Otro</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecciona un país.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="departamento" class="form-label"><i class="fa-solid fa-map-location-dot"></i>
                            Departamento <span class="text-danger">*</span></label>
                        <select class="form-control" id="departamento" required>
                            <option value="">Seleccionar</option>
                            <option value="santa ana">Santa Ana</option>
                            <option value="ahuachapan">Ahuachapán</option>
                            <option value="sonsonate">Sonsonate</option>
                            <option value="la libertad">La Libertad</option>
                            <option value="san salvador">San Salvador</option>
                            <option value="chalatenango">Chalatenango</option>
                            <option value="cuscatlan">Cuscatlán</option>
                            <option value="la paz">La Paz</option>
                            <option value="san vicente">San Vicente</option>
                            <option value="cabañas">Cabañas</option>
                            <option value="morazan">Morazán</option>
                            <option value="san miguel">San Miguel</option>
                            <option value="usulutan">Usulután</option>
                            <option value="la union">La Unión</option>
                            <option value="otro">Otro</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, selecciona un departamento.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="clave" class="form-label"><i class="fas fa-lock"></i> Clave <span
                                class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="clave" placeholder="Crea una clave" required>
                            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('clave')">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <div class="invalid-feedback">
                            Por favor, crea una clave.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="repetir-clave" class="form-label"><i class="fas fa-lock"></i> Repetir Clave <span
                                class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="repetir-clave" placeholder="Repite tu clave"
                                required>
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="togglePassword('repetir-clave')">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <div class="invalid-feedback">
                            Las claves no coinciden.
                        </div>
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="terminos" required>
                    <label class="form-check-label" for="terminos">Acepto términos y condiciones y autorizo el
                        tratamiento de mis datos personales <span class="text-danger">*</span></label>
                    <div class="invalid-feedback">
                        Debes aceptar los términos y condiciones.
                    </div>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="notificaciones">
                    <label class="form-check-label" for="notificaciones">Acepto recibir notificaciones vía correo
                        electrónico</label>
                </div>
                <button type="submit" class="btn w-100" style="background-color: #112852; color: #FFFFFF;"
                    id="btnRegistrarse"> <i class="fas fa-user-plus"></i> Registrarse</button>
            </form>
        </div>
    </div>

    <footer class="py-3 mt-5" style="background-color: #112852; color: #FFFFFF;">
        <div class="container text-center">
            <p class="m-0">&copy; 2025 JobTrack - Universidad Cristiana de las Asambleas de Dios</p>
            <div class="social-icons mt-2">
                <a href="https://www.facebook.com/universidad.cristiana.ucad" class="mx-2" style="color: #FFFFFF;"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/universidad_cristianaad/" class="mx-2" style="color: #FFFFFF;"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.youtube.com/@universidadcristianadelasa1430" class="mx-2" style="color: #FFFFFF;"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
        </div>
    </footer>

    <script src="../../recursos/jquery/jquery.min.js"></script>
    <script src="../../recursos/pooper/popper.min.js"></script>
    <script src="../../recursos/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../recursos/sweetalert/sweetalert2.all.min.js"></script>
    <script src="../controllers/registro_empresa.js"></script>

    <script>
        function togglePassword(id) {
            let input = document.getElementById(id);
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        }
    </script>

</body>

</html>